.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: var(--space-06);

  box-shadow: var(--box-shadow-basic);

  border-radius: var(--border-radius-xl);
  border: 1px solid var(--neutral-200);
  background-color: var(--neutral-100);

  height: 300px;
  min-width: 300px;
  width: 300px;

  cursor: pointer;
}

.root:hover {
  scale: 1.02;
  transition: all 0.2s;
}

.infoCluster {
  display: flex;
  flex-direction: column;
  gap: var(--space-04);

  color: var(--neutral-700);
}

.title {
  font-size: var(--font-size-xl);
  word-wrap: break-word;
}

.location {
  font-size: var(--font-size-lg);
  color: var(--neutral-500);
  word-wrap: break-word;
}

.price {
  font-size: var(--font-size-6xl);
  color: var(--neutral-700);
  font-weight: 800;
}

.type {
  display: flex;
  align-items: center;

  gap: var(--space-02);
}

.detailedInfoCluster {
  display: flex;
  flex-direction: row;
  gap: var(--space-05);
}
