.root {
  display: flex;
  flex-direction: column;

  padding: var(--space-05);
  gap: var(--space-04);

  height: 100%;

  border-right: 2px solid var(--neutral-100);
}

.header {
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: var(--neutral-700);

  padding-bottom: var(--space-06);
}

.inputCluster {
  display: flex;
  align-items: center;

  width: 100%;
  gap: var(--space-05);

  color: var(--neutral-600);
}

.input {
  width: 100%;
}

.sectionTitle {
  font-weight: 600;
  font-size: var(--font-size-2xl);

  color: var(--neutral-700);
}

.section {
  display: flex;
  flex-direction: column;

  padding: var(--space-04);
  padding-bottom: var(--space-06);
  gap: var(--space-04);

  justify-content: center;
}
